# Created by MariMigu
## Katalog ze zdjęciami
foto/
## Katalog map i podkładów 
mapy/
## Katalog z teksturami
textures/
# Katalo z teksturami obrobionymi
sources/
## Pliki żródłowe .blend
*.blend
*.blend*
## Pliki Gimp
*.xcf
